# Importar Pandas

In [1]:
#importa pandas
import pandas as pd

# Crear una Serie

Explore series en python en el siguiente [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) en las primeras lineas del documento

In [61]:
# Crea una Serie de los numeros 10, 20 and 10.

s = pd.Series([10, 20, 10])
s

0    10
1    20
2    10
dtype: int64

In [80]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
objetos = ['rojo', 'verde', 'azul']
serie = pd.Series(objetos)
serie

0     rojo
1    verde
2     azul
dtype: object

# Crear un Dataframe

In [36]:
# Crea un dataframe vacío llamado 'df'

df = pd.DataFrame()

In [57]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
df['Columna 1'] = s
df = df.drop('Colunma 1', axis=1)
print(df)

   Columna 1
0         10
1         20
2         10

In [84]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
df['Columna 2'] = serie
df

   Columna 1 Columna 2
0         10      rojo
1         20     verde
2         10      azul

# Leer un dataframe

In [86]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"

df_a = pd.read_csv('avengers.csv')
df_a .head()

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...

# Inspeccionar un dataframe

In [87]:
# Muestra las primeras 5 filas del DataFrame.
df_a.head(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...

In [88]:
# Muestra las primeras 10 filas del DataFrame. 
df_a.head(10)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...
5,http://marvel.wikia.com/Richard_Jones_(Earth-616),Richard Milhouse Jones,612,YES,MALE,1963,NaN
6,http://marvel.wikia.com/Steven_Rogers_(Earth-616),Steven Rogers,3458,YES,MALE,1964,Dies at the end of Civil War. Later comes back.
7,http://marvel.wikia.com/Clint_Barton_(Earth-616),Clinton Francis Barton,1456,YES,MALE,1965,Dies in exploding Kree ship in Averngers Vol. ...
8,http://marvel.wikia.com/Pietro_Maximoff_(Earth...,Pietro Maximoff,769,YES,MALE,1965,Dies in House of M Vol 1 Issue 7. Later comes ...
9,http://marvel.wikia.com/Wanda_Maximoff_(Earth-...,Wanda Maximoff,1214,YES,FEMALE,1965,Dies in Uncanny_Avengers_Vol_1_14. Later comes...

In [89]:
# Muestra las últimas 5 filas del DataFrame.
df_a.tail(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,2013,NaN
169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,2014,NaN
171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,2014,NaN
172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,2015,NaN

# Tamaño del DataFrame

In [110]:
# Muestra el tamaño del DataFrame
df_a.shape

(173, 6)

# Data types en un DataFrame

In [109]:
# Muestra los data types del dataframe
df_a.dtypes

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
Notes            object
dtype: object

# Editar el indice (index)

In [115]:
# Cambia el indice a la columna "fecha_inicio".

df_a.columns
#df_a = df_a.set_index('fecha_inicio')
#df.reset_index('fecha_inicio')

Index(['URL', 'nombre', 'n_apariciones', 'actual', 'genero', 'Notes'], dtype='object')

# Ordenar el indice

In [123]:
# Ordena el índice de forma descendiente
df_a = df_a.sort_index(ascending=False)
df_a

                                                   URL          nombre  \
172   http://marvel.wikia.com/Julie_Power_(Earth-616)#     Julie Power
171  http://marvel.wikia.com/William_Baker_(Earth-6...   William Baker
170  http://marvel.wikia.com/Elvin_Haliday_(Earth-6...   Elvin Haliday
169  http://marvel.wikia.com/James_Santini_(Earth-6...   James Santini
168  http://marvel.wikia.com/Emery_Schaub_(Earth-616)#    Emery Schaub
..                                                 ...             ...
4    http://marvel.wikia.com/Adam_Brashear_(Earth-6...   Adam Brashear
3    http://marvel.wikia.com/Victor_Alvarez_(Earth-...  Victor Alvarez
2       http://marvel.wikia.com/Ava_Ayala_(Earth-616)#       Ava Ayala
1    http://marvel.wikia.com/Sam_Alexander_(Earth-6...   Sam Alexander
0           http://marvel.wikia.com/Kaluu_(Earth-616)#           Kaluu

     n_apariciones actual  genero  \
172            153    YES  FEMALE
171            355     NO    MALE
170            158     NO    MALE
169             40    YES    MALE
168             26    YES    MALE
..             ...    ...     ...
4               29    YES    MALE
3               45    YES    MALE
2               49    YES  FEMALE
1               78    YES    MALE
0               35    YES    MALE

                                                 Notes
172                                                NaN
171  Died in Identity_Disc_Vol_1_1. Later was revea...
170                                                NaN
169                                                NaN
168                                                NaN
..                                                 ...
4                                                  NaN
3                                                  NaN
2                                                  NaN
1                                                  NaN
0                                                  NaN

[173 rows x 6 columns]

# Resetear el indice

In [121]:
# Resetea el índice

df_a = df_a.reset_index(drop=True)
df_a

,URL,nombre,n_apariciones,actual,genero,Notes
0,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,NaN
1,http://marvel.wikia.com/Sam_Alexander_(Earth-6...,Sam Alexander,78,YES,MALE,NaN
2,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,NaN
3,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,NaN
4,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,NaN
...,...,...,...,...,...,...
168,http://marvel.wikia.com/Emery_Schaub_(Earth-616)#,Emery Schaub,26,YES,MALE,NaN
169,http://marvel.wikia.com/James_Santini_(Earth-6...,James Santini,40,YES,MALE,NaN
170,http://marvel.wikia.com/Elvin_Haliday_(Earth-6...,Elvin Haliday,158,NO,MALE,NaN
171,http://marvel.wikia.com/William_Baker_(Earth-6...,William Baker,355,NO,MALE,Died in Identity_Disc_Vol_1_1. Later was revea...
172,http://marvel.wikia.com/Julie_Power_(Earth-616)#,Julie Power,153,YES,FEMALE,NaN